*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrappar{
    position: relative;
    top:0;
    left:0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
header{
    position:absolute;
    width: 100%;
}
header > nav{
    background-color: transparent;
    padding: 38px 0px;
    color: #fff;
    font-weight: 600;    
    position: sticky;
    top:0;
}
header > nav > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

header > nav > ul > li{
    padding: .5rem;
}
header > nav > ul > li > a{
    color:white;
    text-decoration: none;
    font-size: 22px;
}
header > nav > ul > li > a:hover{
    color: tomato;
    padding-bottom: .5rem;
    border-bottom: 2px solid tomato;
    transition: .5s;
    cursor:pointer;
}
.bannar-area{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    background-image: url(images/bannar-image.jpg);
    width:100%;
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    /* background-clip: border-box; */
    z-index:-1;
    /* text-align: center; */
}
section{
    /* display: grid;
    grid-template-columns: 1fr; */
}
.bannar-area > .container{
    position: relative;
}

.bannar-area > .container > .text-area{
    position: absolute;
    top:180px;
    left: 200px;
}

.bannar-area > .container > .text-area > .heading{
    margin-bottom: 1rem;
}

.bannar-area > .container > .text-area > .heading > h1{
    font-size: 4rem;
    color:chartreuse;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bannar-area > .container > .text-area > .heading > p{
    padding: 0px 5px;
    color:yellowgreen;
    font-size: 15px;
}


.bannar-area > .container > .text-area > .paragraph{
    color: honeydew;
    margin-bottom: 1rem;
    font-size: 18px;
    /* padding: 0px 2px; */
}

.bannar-area > .container > .text-area > .button-area > button{
    padding:15px 25px;
    background-color: steelblue;
    color:#fff;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    outline: blue;
    cursor:pointer;
    font-weight:600;
    margin-top: 1rem;;
}

.bannar-area > .container > .text-area > .button-area > button:hover{
    border: 2px solid skyblue;
    background-color: seagreen;
}

.bannar-area >.container > .box-area{
    position: absolute;
    top:480px;
    left:180PX;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.bannar-area > .container > .box-area > form > button{
    background-color: teal;
    border: 1px solid yellow;
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
    padding: 20px;
    margin-top: 1rem;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    flex-basis: 250px;
}

.bannar-area > .container > .box-area > form > button:hover{
    margin-top:0;
}

.bannar-area > .container > .box-area > .box2{
    padding:20px 10px;
}

/* about area */

.about-area{
    position:absolute;
    top:625px;
    background-color: peru;
    width:100%;
}

.about-area > .heading{
    margin: 50px 130px 10px 0;
    font-weight: 0;
    font-size: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}
.about-area > .heading > i{
    padding-right: 5rem;
}
.about-area > .paragraph{
    padding: 30px 60px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.about-area > .paragraph > p{
    padding: 0 20px;
    font-size: 22px;
}

.about-area > .box-area{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 200px 30px;
    font-size: 25px;
}

.about-area > .counting{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 400;
    margin: 0px 300px 150px;

}

/* coding skill area */

.coding-skill-area{
    position:absolute;
    top:1250px;
    background-color: #aaa;
    width:100%;
    height:100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.coding-skill-area > div{
    /* background-color: teal; */
    margin-bottom: 20px;
}

.coding-skill-area > .heading{
    text-align: center;
    padding: 50px 38px;
    font-size: 38px;
    color:#444;
}
.coding-skill-area > .box-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coding-skill-area > .box-area > div{
    flex-basis:460px;
}

.coding-skill-area > .box-area > .paragraph > .heading{
    font-size: 25px;
    color: #555;
}
.coding-skill-area > .box-area > .paragraph > .context{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.coding-skill-area > .box-area > .courses{
    display: flex;
    color: #444;
    font-weight: bold;
    margin-left: 30px;
}
.coding-skill-area > .box-area > .courses > div{
    font-size: 25px;
    list-style: none;
}
.coding-skill-area > .box-area > .courses > .left-side{
    border-right: 2px solid #222;
    padding-right: 20px;
}

.coding-skill-area > .box-area > .courses > .left-side > li{
    margin-bottom:20px;
}

.coding-skill-area > .box-area > .courses > .right-side{
    padding-left: 20px;
}

.coding-skill-area > .box-area > .courses > .right-side > li{
    padding: 30px 0px;
}
@media(max-width:800px){
.coding-skill-area > .box-area > .courses{
    margin-top: 20px;
}
}

/* coding curriculum */

.coding-curriculum{
    position: absolute;
    top: 1875px;
    width:100%;
    height: 100vh;
    background-color: thistle;
}

.coding-curriculum > .heading{
    padding: 50px;
    text-align: center;
    font-size: 40px;
    color: #555;
}

.coding-curriculum > .content{
    list-style: none;
    margin-left: 300px;
    font-size: 22px;
}

.coding-curriculum > .content > li{
    display: flex;
    align-items: center;
    margin: 5px;
}

.coding-curriculum > .content > li > p{
    margin-left: 5px;
}

/* coding-packages */

.coding-packages{
    position:absolute;
    top:2500px;
    background-color: palevioletred;
    width:100%;
    height: 100vh;
}

.coding-packages > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
    font-size: 40px;
    color: #555;

}

.coding-packages > .heading > i{
    margin-right: 1rem;
}

.coding-packages > .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding:10px;
}

.coding-packages > .content > div{
    background-color: white;
    flex-basis: 300px;
    height: 380px;
    padding: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.coding-packages > .content > div:hover{
    background-color: #ccc;
    transition: .5s;
}
.coding-packages > .content > div > .star{
    text-align: center;
}
.coding-packages > .content > div > .package{
    margin: 2rem 0rem 1rem 0rem;
    font-size: large;
    font-weight: 700;
    text-align: center;
}

.coding-packages > .content > div > .context{
    list-style: none;
    font-size: 18px;
    padding: 10px 0px;;
    padding: 1rem 1.5rem;
    color: #555;
}

.coding-packages > .content> div > .context > li{
    
    margin: 5px;
    padding:0;
}

.coding-packages > .content > div > .context > li > p{
    margin-left: 10px;
}

/* extra-curricular */

.extra-curricular{
    position:absolute;
    top:3125px;
    background-color: thistle;
    width:100%;
    height: 100vh;
}


.extra-curricular > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
    font-size: 40px;
    color: #555;
}
.extra-curricular > .paragraph{
    margin: 50px 200px;
    font-size: 22px;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #333;

}
.extra-curricular > .skills{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 22px;
    flex-wrap: wrap;
    padding: 0px 100px;
}
.extra-curricular > .skills > div{
    display: flex;
    justify-content: space-around;
}
.extra-curricular > .skills > .top > div{
    padding: 8px 12px;
    border: 2px solid #333;
    font-weight: bold;
}
.extra-curricular > .skills > .bottom > div{
    padding: 8px 12px;
    border: 2px solid #333;
    margin-top: 20px;
}

/* languages */

.languages{
    position:absolute;
    top:3750px;
    background-color: lightblue;
    width:100%;
    height: 100vh;
}
.languages > .heading{
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-size: 40px;
    color: #555;   
}
.languages > .paragraph{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

.languages > .paragraph > div{
    flex-basis: 400px;
    height: 500px;
    padding:10px;
    margin: 20px;
}

.languages > .paragraph > .box1 > li{
    list-style: none;
    font-size: 22px;
    margin-top: 18px;
}
